h1, h2, h3, h4, p, ul, li {
	font-family: 'Merriweather', serif;
}

@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}

@media print {
  .no-print {
      display:none;
  }
}

body{
	margin: 0;
	font-size: 15px;
}

h3{
	margin-top: 50px;
}



header{
	text-align: center;
}

header p{
	font-size: 12px;
}

.container{
	width: 90%;
	text-align: center;
	margin: auto;
	border-top: solid 1px black;
}

.lang{
	position: absolute;
	position: -webkit-sticky;
  	position: sticky;
	top: 10px;
	right: 5%;
	float: right;
}

	.lang h1{
		display: none;
		font-size: 8px;
	}

	.lang button{
		width: 100px;
		font-size: 16px;
		box-shadow: 2px 2px 2px #888888;
		cursor: pointer;
		background: rgba(0, 148, 20, 80%);
		color: white;
		border: none;
	}

.nom{
	font-size: 1.5em;
	line-height: 50px;
}


.social  {
	width: 100%;
	text-align: right;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 4px;
	margin-top: 20px;
}


.social-icons  {
	width: 40px;	
}


.section{
	margin-top: 80px;
	text-align: left;
}

#experience h3, {
	color: rgb(1, 54, 15);
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: -5px;
	/*text-shadow:2px 1px 1px rgba(0,0,0,0.4); */
}

#experience h4{
	font-weight: normal;
}

.subsection{
	margin-top: 60px;
	background-color: rgba(240,240,240,0.8);
	margin-bottom: 10px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2); 
	border: 1px solid rgba(220,220,220,1);
	padding: 15px;
	border-radius: 6px;
}

.subsection li{
	margin-bottom: 10px;
}

#skills .subsection{
	border: 0;
	margin: 0;
	box-shadow: none;
	border-top: solid 1px black;
	padding: 0px 10px;
}

#portfolio .subsection{
	background-color: white;
}

#portfolio img{
	max-width: 25%;
	max-height: 200px;
	margin-right: 40px;
}

#projects img{
	max-width: 100%;
}

#projects h3{
	margin: 0;
}


.left-column, .middle-column, .right-column{
	text-align: left;
}


footer{
	text-align: center;
}


@media (min-width: 768px) {
  .grid {
  	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 40px;
    display: grid;
    grid-template-columns: 30% 1fr;
	grid-gap:  20px;
  }

  .grid2{
  	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 30%;
	grid-gap:  20px;
  }

  .grid3{
  	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-gap:  20px;
  }

	#top-left{
		text-align: left;
	}

	#top-right{
		text-align: right;
	}


	.social  {
		width: 20%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 4px;
	}

	.social-icons  {
		width: 30px;	
	}

	#experience h3{
		color: rgb(1, 54, 15);
		margin-top: 20px;
		margin-left: 10px;
		margin-bottom: -45px;
	}

}

